.nav-panel
  background-color #f9f9f9
  border-radius 6px
  padding 20px 20px
  margin-bottom 42px
  width 100%
  margin-right auto
  margin-left auto
  .panel-title 
    padding 8px 12px
    display inline-block
    margin-bottom 16px
    font-size 14px
    font-weight 200
    color #ffffff
    background #d1ab79
    margin-left 12px
  .panel-body
    padding 11px
    display flex
    flex-wrap wrap
    justify-content space-between
    .card 
      &:hover 
        box-shadow 0 30px 28px -16px rgba(0, 0, 0, 0.26)
        transform translate(0, -4px)
  .panel-item
    width 20%
    min-width 250px
    position relative
    padding-left 10px
    padding-right 10px
