.magic-link.container
  .link-item.home-item
    a(href='/')
  .link-item.archives-item
    a(href=url_for('/archives'))
  .link-item.about-item
    a(href=url_for('/about'))
  .link-item.navigations-item
    a(href=url_for('/navigations'))
  .link-item.material-item
    a(href='/material')
  .link-item.game-item
    a(href='//geniuspeng.github.io/gba')

