extends includes/layout.pug
block magic
  if page.prev == 0
    include includes/slider.pug
    include includes/magic-link.pug
block content
  .mask
    .loading
      span L
      span.animate O
      span.animate A
      span.animate D
      span I
      span N
      span G
      span 。。。

  include includes/recent-posts.pug
  include includes/pagination.pug



