.slider
  background #003
  text-align center 
  canvas 
    position absolute
    left 0
    top 0
    margin 20px auto
  p 
    margin 15px 0px
#interface 
  display none
  width 250px
  position absolute
  border 0px solid black
  padding 40px
  box-sizing border-box
  color #222
  height 100%
  overflow-y scroll
  background-color rgba(255, 255, 255, 0.8)
  box-shadow 1px 0px 10px #999
  input[type="range"] 
    width 100%
  input[type=range] 
    background-color silver
    height 10px
  input[type="range"]::-webkit-slider-thumb 
    background-color #666
    width 10px
    height 26px
  input[type="button"] 
    padding 5px
    margin-bottom 5px
    margin-top 5px
    background-color #ff2948
    border 0px
    width 100%
    color white
    font-weight bold
    font-size 14px
  input 
    border 0px
    background-color transparent
    margin-top 20px
    margin-bottom 20px
  h1 
    padding 0px
    margin-top 0px
  select 
    padding 5px
    margin-bottom 5px
    margin-top 5px
    width 100%
  a 
    color #ff2948
    font-weight 700
  input[type="text"] 
    width 100%
    font-family sans-serif
    font-size 30px
    appearance none
    box-shadow none
    border-radius none
    border 0px
    border-bottom 2px solid #ff2948
    text-align center
