.magic-link.container
  .link-item.red
    a(href='/')
  .link-item.orange
    a(href='/archives')
  .link-item.blue
    a(href='/navigations')
  .link-item.yellow
    a(href='/about')
  .link-item.green
    a(href='/material')
  .link-item.grey
    a(href='http://geniuspeng.github.io/gba')
