.magic-link.container
  .link-item.red
    a(href='/')
  .link-item.orange
    a(href='/archive')
  .link-item.blue
    a(href='/nav')
  .link-item.yellow
    a(href='/about')
  .link-item.green
    a(href='/tools')
  .link-item.grey
    a(href='/source')
