#menu-outer
  dev#specialShadow.bd-special-shadow(style="transform: scaleY(1);")
  nav#menu-inner.container
    .navbar-brand
      a.navbar-item(href="#")
        img(src=url_for(theme.avatar) alt="头像")
        span= theme.nickname
      #navbarBurger.navbar-burger
        span
        span
        span
    #navMenuIndex.navbar-menu
      - var curPage = is_home() ? '/' : ((is_archive() || is_post()) ? '/archives' : '/about')
      .navbar-start
        each url, label in theme.menu
          .navbar-item
            a.navbar-link(href=url_for(url), class=(curPage==url)?'active':'')= label
      //- .navbar-end
      //-   .navbar-item
      //-     a.button 