@import "_partial/code.styl"
@import "_partial/post.styl"
@import "_partial/tag.styl"
@import "_partial/archive.styl"
@import "_partial/magic.styl"

@charset "UTF-8"; 
@-webkit-keyframes spinAround 
  from
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  to 
    transform rotate(359deg)
    transform rotate(359deg)
@keyframes spinAround 
  from
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  to 
    transform rotate(359deg)
    transform rotate(359deg)
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 
  margin 0
  padding 0
button,
input,
select,
textarea 
  margin 0
html 
  box-sizing border-box
  background-color white
  font-size 16px
  min-width 300px
  overflow-x hidden
  overflow-y scroll
  text-rendering optimizeLegibility
  text-size-adjust 100%
* 
  box-sizing inherit
*:before, *:after 
  box-sizing inherit
img,
embed,
object,
audio,
video 
  max-width 100%
iframe 
  border 0
table 
  border-collapse collapse
  border-spacing 0
  th 
    color #363636
td,
th 
  padding 0
  text-align left
article,
aside,
figure,
footer,
header,
hgroup,
section 
  display block
body,
button,
input,
select,
textarea 
  font-family BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
code,
pre 
  font-family monospace
body 
  color #4a4a4a
  font-size 1rem
  font-weight 400
  line-height 1.5
a 
  color #3273dc
  cursor pointer
  text-decoration none
  strong 
    color currentColor
  &:hover 
    color #363636
code 
  background-color whitesmoke
  color #ff3860
  font-size 0.875em
  font-weight normal
  padding 0.25em 0.5em 0.25em
hr 
  background-color #dbdbdb
  border none
  display block
  height 1px
  margin 1.5rem 0
img 
  height auto
  max-width 100%
input[type="checkbox"],
input[type="radio"] 
  vertical-align baseline
small 
  font-size 0.875em
span 
  font-style inherit
  font-weight inherit
strong 
  color #363636
  font-weight 700
pre 
  background-color whitesmoke
  color #4a4a4a
  font-size 0.875em
  overflow-x auto
  padding 1.25rem 1.5rem
  white-space pre
  word-wrap normal
  code 
    background-color transparent
    color currentColor
    font-size 1em
    padding 0
table td,
table th 
  text-align left
  vertical-align top
.is-clearfix 
  &:after 
    clear both
    content " "
    display table
/************************************************************************************
主页面style
*************************************************************************************/
// body 
//   height 100%
//   max-height 100%
//   font-family "Microsoft Yahei", serif
//   font-weight 200
//   letter-spacing 0.01rem
//   font-size 1.125rem
//   line-height 1.1em
//   color #3a4145
//   text-rendering geometricPrecision
html.fixed-top
  padding-top 3.25rem
#menu-outer
  position fixed
  top 0
  left 0
  right 0
  z-index 30
  background-color white
  min-height 3.25rem
  .bd-special-shadow 
    background-image linear-gradient(rgba(0, 0, 0, 1), transparent)
    height 8px
    left 0
    position absolute
    right 0
    top 100%
    transform scaleY(0)
    transform-origin center top
// #content-outer
//   height 0
.container
  margin 0 auto 
  position relative 
#pagination
  .pagenav
    text-align center
    span
    a
      margin 0 10px
#bottom-outer
  margin-top 20px
  margin-bottom 40px
  #bottom-inner
    text-align center
    font-size 14px


nav#menu-inner
  align-items stretch
  display flex
  justify-content space-between
  min-height 3.25rem
  width 100%
  .navbar-menu 
    display none
  .navbar-item 
    flex-grow 0
    flex-shrink 0
  .navbar-item, .navbar-link 
    color #4a4a4a
    display block
    line-height 1.5
    padding 0.5rem 1rem
    position relative
  .navbar-brand
    align-items stretch
    display flex
    flex-shrink 0
    min-height 3.25rem
    .navbar-burger 
      cursor pointer
      display block
      height 3.25rem
      position relative
      width 3.25rem
      margin-left auto
      &:hover 
        background-color rgba(0, 0, 0, 0.05)
    
.magic-link
  display flex
  flex-wrap wrap
  justify-content space-between
  align-content space-between
  .link-item
    width 33.33%
    // width 33vw
    height 20vw
    max-height 290px
    min-height 150px
    &.link-item a
      text-decoration none
      display block
      height 100%
      background-repeat no-repeat
      background-size 30%
      background-position center
      transition all .4s
      border-left: 1px solid rgba(234, 234, 234, 0.68)
      border-bottom: 1px solid rgba(234, 234, 234, 0.68)
      &:hover 
        text-decoration none
        background-repeat no-repeat
        background-position center
        transform translate(0, -4px)
    &.home-item a
      background-image url(../images/home/vis.png)
      &:hover
        background-image url(../images/home/vis_hover.png)
    &.archives-item a
      background-image url(../images/home/vis3.png)
      &:hover
        background-image url(../images/home/vis3_hover.png)
    &.navigations-item a
      background-image url(../images/home/web.png)
      border-right: 1px solid rgba(234, 234, 234, 0.68)
      &:hover
        background-image url(../images/home/web_hover.png)
    &.material-item a
      background-image url(../images/home/web3.png)
      &:hover
        background-image url(../images/home/web3_hover.png)
    &.game-item a
      background-image url(../images/home/yins.png)
      &:hover
        background-image url(../images/home/yins_hover.png)
    &.about-item a
      background-image url(../images/home/app.png)
      border-right: 1px solid rgba(234, 234, 234, 0.68)
      &:hover
        background-image url(../images/home/app_hover.png)

.arrow
  position absolute
  left 0
  right 0
  text-align center
  top 40vw
  img
    margin 0 auto
    width 20px
    height 20px
    cursor pointer

.mask
  position fixed
  width 100%
  top 0
  bottom 0
  background rgba(0,0,0,.7)
  z-index 9999
  display flex
  align-items center
  justify-content center
  &.mask-hide
    width 0
    transition-duration .8s
    .loading
      display none
  .loading 
    position fixed
    width 100%
    top calc(50% - 30px)
    text-align center
    span 
      color #eee
      font-size 30px
      &:nth-child(2) 
        color #0088cc
        animation spin 1.5s linear infinite
      &:nth-child(3) 
        margin-left 25px
        color #e23069
        animation spin 1s linear infinite
      &:nth-child(4) 
        margin-left 50px
        color #f0e300
        animation spin 1.25s linear infinite
      &:nth-child(5) 
        padding-left 77px
    .animate 
      position absolute
      top 0
@keyframes spin 
  0%
    top 0
  50% 
    top 100%
    opacity 0
    top 100%
    opacity 0
  51% 
    top -100%
    top -100%
  100% 
    top 0
    opacity 1
    top 0
    opacity 1
@-webkit-keyframes spin 
  0%
    top 0
  50% 
    top 100%
    opacity 0
    top 100%
    opacity 0
  51% 
    top -100%
    top -100%
  100% 
    top 0
    opacity 1
    top 0
    opacity 1


/*滚动条 样式*/
// ::-webkit-scrollbar 
//   width 5px
//   height 5px
// ::-webkit-scrollbar-button 
//   &:vertical 
//     display none
// ::-webkit-scrollbar-track 
//   &:vertical 
//     background-color black
// ::-webkit-scrollbar-track-piece 
//   background #eaeaea
// ::-webkit-scrollbar-thumb 
//   &:vertical 
//     background-color #d1ab73
//     border-radius 4px
//     &:hover 
//       background-color #c49e66
// ::-webkit-scrollbar-corner 
//   &:vertical 
//     background-color #535353
// ::-webkit-scrollbar-resizer 
//   &:vertical 
//     background-color #ff6e00


    
@import "extra/extra.styl"
