@media screen and (min-width: 1024px)
  #menu-outer
    min-height 3.25rem
    align-items stretch
    display flex
  nav#menu-inner
    .navbar-burger
      display none
    .navbar-item, .navbar-link 
      align-items center
      display flex
    .navbar-menu
      display flex
      align-items stretch
      justify-content space-between
      flex-grow 1
      flex-shrink 0
    .navbar-start 
      justify-content flex-start
      margin-right auto
    .navbar-end 
      justify-content flex-end
      margin-left auto
    .navbar-start, .navbar-end 
      align-items stretch
      display flex
      a.button
        width 20px
        height 20px
        background green
  .container
    max-width 1000px
    width 1000px
  .slider .text
    font-size 8rem
    line-height 25rem
@media screen and (min-width: 1216px)
  .container
    max-width 1152px
    width 1152px
@media screen and (min-width: 1408px)
  .container
    max-width 1344px
    width 1344px
@media screen and (max-width: 1250px)
  .panel 
    margin-bottom 1px
    padding-bottom 12px
    padding-top 30px
    width 97%
    .panel-item
      width 25%
    .panel-large-item
      width 50%
// @media screen and (max-width: 1024px)
//   .panel 
//     .panel-item
//       width 20%

@media only screen and (max-width: 900px)
  .post 
    font-size 0.95em
    .post-title
      font-size 2rem
  .panel 
    .panel-item
      width 33.3%
@media screen and (max-width: 767px)
  .panel
    padding 0
    .panel-item
      width 50%
  .post-collapse
  .archive-categories
  .archive-tags 
    margin 0 20px
  .slider .text
    font-size 4rem
    line-height 12rem
  .arrow
    top 35vw
@media screen and (max-width: 550px)
  .magic-link
    .link-item
      width 50%
      height 20vw
      max-height 290px
      min-height 150px
      &.navigations-item a
      &.about-item a
        border-right none
  .post 
    width auto
    margin-top 2rem
    margin-bottom 2rem
    margin-left 16px
    margin-right 16px
    padding-bottom 2rem
    line-height 1.65em
    .post-title
      font-size 1.26rem
    .post-excerpt p
      font-size .9rem
      line-height 1.5rem
    .post-meta
      font-size .82rem
      margin-top .625rem
  .panel
    .panel-large-item
      width 100%
@media screen and (max-width: 480px)
  .panel
    .panel-item
      width 100%
