@media screen and (min-width: 1024px)
  #menu-outer
    min-height 3.25rem
    align-items stretch
    display flex
  nav#menu-inner
    .navbar-burger
      display none
    .navbar-item, .navbar-link 
      align-items center
      display flex
    .navbar-menu
      display flex
      align-items stretch
      justify-content space-between
      flex-grow 1
      flex-shrink 0
    .navbar-start 
      justify-content flex-start
      margin-right auto
    .navbar-end 
      justify-content flex-end
      margin-left auto
    .navbar-start, .navbar-end 
      align-items stretch
      display flex
      a.button
        width 20px
        height 20px
        background green
  .container
    max-width 960px
    width 960px
@media screen and (min-width: 1216px)
  .container
    max-width 1152px
    width 1152px
@media screen and (min-width: 1408px)
  .container
    max-width 1344px
    width 1344px
// @media screen and (max-width: 1023px)
@media only screen and (max-width: 900px)
  .post 
    font-size 0.95em
    .post-title
      font-size 2rem
@media screen and (max-width: 550px)
  .magic-link
    .link-item
      width 49.5%
      // width 33vw
      height 20vw
      max-height 290px
      min-height 150px
  .post 
    width auto
    margin-top 2rem
    margin-bottom 2rem
    margin-left 16px
    margin-right 16px
    padding-bottom 2rem
    line-height 1.65em
    .post-title
      font-size 1.26rem
    .post-excerpt p
      font-size .9rem
      line-height 1.5rem
    .post-meta
      font-size .82rem
      margin-top .625rem
